@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Space+Grotesk:wght@400;700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
	margin: 0;
    position: relative;
}

/* CANVAS */

#c {
	width: 100vw;
	height: 100vh;
	position: absolute;

    z-index: -1;
}

/* NAVBAR */

nav {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: space-between;

    width: 100%;
    opacity: 0;
}

.nav-logo {
    width: 3.5rem;
    margin: 1.5rem
}

.nav-links {
    display: flex;
    gap: 5vw;
}

.nav-links p {
    color: white;
    font-size: 'Space Grotesk';

    font-size: 1.5rem;
    font-weight: bold;
    transition:  200ms ease-in-out;

    background: transparent;
}

.nav-links p:last-child {
    margin-right: 2rem;
}

.nav-links p:hover {
    cursor: pointer;
    scale: 1.2;
}

/* HERO */

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 0.5rem;

    opacity: 0;
}

.hero h2 {
    color: white;
    font-weight: 400;
}

.rainbow-glow-btn {
    padding: 1rem 2rem;

    color: white;
    font-size: 1.5rem;

    background: rgba(255, 255, 255, 0.18);
    border: 1px solid rgba(255, 255, 255, 0.19);
    box-shadow: -20px -6px 15px rgba(45, 15, 233, 0.25), -9px 16px 14px rgba(100, 203, 191, 0.41), 14px -15px 31px rgba(238, 241, 101, 0.26), 0px -6px 10px rgba(211, 14, 14, 0.25), 10px 4px 9px rgba(100, 147, 0, 0.42);
    backdrop-filter: blur(0.4px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 12px;
    transition:  200ms ease-in-out;
}

.rainbow-glow-btn:hover {
    box-shadow: -20px -6px 15px rgba(45, 15, 233, 0.5), -9px 16px 14px rgba(100, 203, 191, 0.6), 14px -15px 31px rgba(238, 241, 101, 0.4), 0px -6px 10px rgba(211, 14, 14, 0.4), 10px 4px 9px rgba(100, 147, 0, 0.7);
    cursor: pointer;
}
